In [1]:
import pandas as pd

In [4]:
filename="log_data.csv"
df=pd.read_csv(filename)
df

  Imagename   building     person    vehicle     weapon
0     0.jpg   0.001056   0.001338  99.993912   0.003699
1     1.jpg   0.032958   0.025655  98.680252   1.261134
2     2.jpg   0.006661   0.043258  99.854881   0.095198
3     3.jpg   2.113762   3.086869  89.733925   5.065451
4     4.jpg   1.856437  26.776270   1.654727  69.712570
5     5.jpg  32.687958  38.169323   0.327840  28.814882
6     6.jpg   1.814513  14.430878   0.761085  82.993523
7     7.jpg   0.133223  41.710819   0.621600  57.534363

In [58]:
#creates txt files in cluster and populates them with respective filenames.
i=0
collst=list(df.columns)
rowct=len(df.iloc[:,0])
while i<rowct:
    lst=list(df.iloc[i,1:5])
    m=max(lst)
    ind=lst.index(m)+1
    colname=collst[ind]
    print(colname)
    with open('clusters/'+colname+'.txt', 'a') as f:
        f.write("%s.jpg\n" %i)
    i=i+1

vehicle
vehicle
vehicle
vehicle
weapon
person
weapon
weapon